<% let table = "mentor"; %>
<%- include('../partials/header', {user: "admin"}) %>

<div class="adminDashboard pt-3">

    <div class="container">
        <%- include('../partials/nav') %>
        <div class="d-flex align-items-center justify-content-between my-3">
            <h1><%= username %></h1>
            <div class="d-flex">
                <% if(role === "super admin") { %>
                    <a href="/userList" class="btn">List of Admin</a>
                <% } %>
                <form class="logout" action="/logout?_method=DELETE" method="POST">
                    <button class="btn" type="submit">Logout</button>
                </form>
            </div>
        </div>

        <!-- List of Mentor -->
        <%- include('../partials/table', { caption: "Mentor", columns: ["id", "name", "title", "facebook", "twitter", "instagram", "linkedin", "image"], rows: mentors }) %>
        
        <!-- Latest Event -->
        <%- include('../partials/table', { caption: "Latest Event", columns: ["id", "date", "link"], rows: latestEvents }) %>

        <!-- Upcoming Event -->
        <%- include('../partials/table', { caption: "Upcoming Event", columns: ["id", "title", "details", "date", "image", "link"], rows: upcomingEvents }) %>

        <!-- Team Members -->
        <%- include('../partials/table', { caption: "Team Member", columns: ["id", "name", "title", "facebook", "twitter", "instagram", "linkedin", "image"], rows: teamMembers }) %>

        <!-- Artikel -->
        <%- include('../partials/table', { caption: "Article", columns: ["id", "title", "author", "details", "image", "link", "created"], rows: articles }) %>

        <!-- testimonial -->
        <%- include('../partials/table', { caption: "Testimonial", columns: ["id", "name", "details", "image"], rows: testimonials }) %>

        <!-- Leader -->
        <%- include('../partials/table', { caption: "Leader Review", columns: ["id", "name", "title", "details", "image"], rows: leaderReviews }) %>

        <!-- Collaboration -->
        <%- include('../partials/table', { caption: "Collaboration", columns: ["id", "name", "email", "message", "date"], rows: collaboration }) %>

        <!-- Announcement -->
        <%- include('../partials/table', { caption: "Announcement", columns: ["id", "text", "button text", "link"], rows: announcements }) %>

    </div>
</div>
<%- include('../partials/script', {user: "admin"}) %>