<%- include('../partials/header') %>
<%- include('function') %>

<div class="form d-flex flex-column justify-content-center mt-5">

    <h1>Add <%= table[0].toUpperCase() %><%= table.slice(1).replace(/_([a-z])/g, function(g) { return g[1].toUpperCase() }) %>'s Table</h1>
    
    <% if (table == "users") { %>
    <form action="/register" method="POST">
    <% } else { %>
    <form action="/new?table=<%= table %>" method="POST">
    <% } %>
        <% columns.forEach((column) => { %>
            <% if(column.Field !== 'id' && column.Field !== 'role' && column.Field !== 'created' && column.Field !== 'resetPasswordToken' && column.Field !== 'resetPasswordExpires' ) { %>
                <div class="form-group">
                    <label for="<%= column.Field %>">
                        <%= column.Field %>
                        <% if(column.Null == 'NO') { %>
                            *
                        <% } %>
                    </label>
                    
                    <% if(column.Null == 'NO') { %>
                        <% if (column.Field === 'password') { %>
                            <input type="password" class="form-control" id="<%= column.Field %>" name="<%= column.Field %>" required>
                        <% } else if (column.Field === 'date') { %>
                            <input type="datetime-local" class="form-control" id="<%= column.Field %>" name="<%= column.Field %>" required>
                        <% } else if (column.Field === 'image') { %>
                            <input type="file" class="form-control" id="<%= column.Field %>" name="<%= column.Field %>" required>
                        <% } else { %>
                            <input type="text" class="form-control" id="<%= column.Field %>" name="<%= column.Field %>" required>
                        <% } %>
                    <% } else { %>
                        <% if (column.Field === 'image') { %>
                            <input type="file" class="form-control" id="<%= column.Field %>" name="<%= column.Field %>">
                        <% } else { %>
                            <input type="text" class="form-control" id="<%= column.Field %>" name="<%= column.Field %>">
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        <% }) %>

        <button type="submit" class="btn btn-primary">Submit</button>

        <a href="/adminDashboard" class="btn">Cancel</a>
    </form>
</div>