<%- include('../admin/function') %>

<div class="tableHeading d-flex justify-content-between align-items-center mb-2">
    <h3 class="header"><%= caption %></h3>
    <% if (caption !== "Event Kami Kedepannya" && caption !== "Artikel Kami") { %>
        <a href="./new?table=<%= caption.split(' ').join('_').toLowerCase() %>" class="btn btn-primary">Add</a>
    <% } %>
</div>

<div class="tableContainer">
    <table class="tableContainer__table">
        <thead>
            <tr>
                <% columns.forEach((column) => { %>
                    <% if (caption === "Event Kami Kedepannya" || caption === "Artikel Kami") { %>
                        <% if ( column !== 'id' && column !== 'image' && column !== 'link' && column !== 'full_details') { %>
                            <th scope="col"><%= column %></th>
                        <% } %>
                    <% } else { %>
                        <% if (column !== 'full_details') { %>
                            <% if (column !== 'id') { %>
                                <th class="id" scope="col"><%= column %></th>
                            <% } else {%>
                                <th scope="col"><%= column %></th>
                            <% } %>
                        <% } %>
                    <% } %>
                <% }) %>
                <% if (caption !== "Event Kami Kedepannya" && caption !== "Artikel Kami") { %>
                    <% if (caption !== "Users") { %>
                        <th scope="col">Edit</th>
                    <% } %>
                        <th scope="col">Delete</th>
                <% } else { %>
                    <th scope="col">Selengkapnya</th>
                    <% if (caption === "Event Kami Kedepannya") { %>
                        <th scope="col">Daftar Sekarang</th>
                    <% } %>
                <% } %>
            </tr>
        </thead>
        <tbody>

            <% rows.forEach((row, index) => { %>
                <tr>
                    <% for (const [key, value] of Object.entries(row)) { %>
                        <% if (caption === "Event Kami Kedepannya" || caption === "Artikel Kami") { %>
                            <% if(key !== 'id' && key !== 'image' && key !== 'link' && key !== 'full_details') { %>
                                <% if(key == "date" || key == "created") {%>
                                    <td><%= dateFormat(value) %></td>
                                <% } else {%>
                                    <td><%= value %></td>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <% if (key !== 'full_details') { %>
                                <% if(key == "date" || key == "created") {%>
                                    <td><%= dateTimeFormat(value) %></td>
                                <% } else {%>
                                    <td><%= value %></td>
                                <% } %>
                            <% } %>
                        <% } %>
                    <% } %>
                    
                    <% if (caption !== "Event Kami Kedepannya" && caption !== "Artikel Kami") { %>
                        <% if (caption !== "Users") { %>
                        <td>
                            <a href="/edit?table=<%= caption.split(' ').join('_').toLowerCase() %>&id=<%= row.id %>" class="button button--orange" id="edit <%= caption.split(' ').join('_').toLowerCase() %> <%= row.id %>">Edit</a>
                        </td>
                        <% } %>
                        <td>
                            <form action="/delete?table=<%= caption.split(' ').join('_').toLowerCase() %>&id=<%= row.id %>" method="post">
                                <input type="submit" value="Delete" class="button button--red">
                            </form>
                        </td>
                    <% } else if(caption === "Event Kami Kedepannya"){ %>
                        <td>
                            <a href="/event?id=<%= rows[index].id %>" target="_blank" class="button button--green" id="register <%= caption.split(' ').join('_').toLowerCase() %> <%= row.id %>">Selengkapnya</a>
                        </td>
                        <td>
                            <a href="<%= row.link %>" target="_blank" class="button button--orange moreDetailsBtn">DaftarSekarang</a>
                        </td>
                    <% } else if(caption === "Artikel Kami") { %>
                        <td>
                            <a href="/article?id=<%= rows[index].id %>" target="_blank" class="button button--green" id="register <%= caption.split(' ').join('_').toLowerCase() %> <%= row.id %>">Read More</a>
                        </td>
                    <% } %>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>