<%- include('../admin/function') %>

<div class="heading d-flex justify-content-between align-items-center mb-2">
    <h5><b><%= caption %></b></h5>
    <% if (caption !== "Our Upcoming Events" && caption !== "Our Articles") { %>
        <a href="./new?table=<%= caption.split(' ').join('_').toLowerCase() %>" class="btn btn-primary">Add</a>
    <% } %>
</div>

<div class="table-container position-relative overflow-auto mw-100">
    <table class="table">
        <thead>
            <tr>
                <% columns.forEach((column) => { %>
                    <% if (caption === "Our Upcoming Events" || caption === "Our Articles") { %>
                        <% if ( column !== 'id' && column !== 'image' && column !== 'link' && column !== 'full_details') { %>
                            <th scope="col"><%= column %></th>
                        <% } %>
                    <% } else { %>
                        <% if (column !== 'full_details') { %>
                            <th scope="col"><%= column %></th>
                        <% } %>
                    <% } %>
                <% }) %>
                <% if (caption !== "Our Upcoming Events" && caption !== "Our Articles") { %>
                    <% if (caption !== "Users") { %>
                        <th scope="col">Edit</th>
                    <% } %>
                        <th scope="col">Delete</th>
                <% } else if(caption === "Our Upcoming Events"){ %>
                    <th scope="col">Register</th>
                <% } else if(caption === "Our Articles") { %>
                    <th scope="col">Read More</th>
                <% } %>
            </tr>
        </thead>
        <tbody>

            <% rows.forEach((row, index) => { %>
                <tr>
                    <% for (const [key, value] of Object.entries(row)) { %>
                        <% if (caption === "Our Upcoming Events" || caption === "Our Articles") { %>
                            <% if(key !== 'id' && key !== 'image' && key !== 'link' && key !== 'full_details') { %>
                                <% if(key == "date" || key == "created") {%>
                                    <td><%= dateFormat(value) %></td>
                                <% } else {%>
                                    <td><%= value %></td>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <% if (key !== 'full_details') { %>
                                <% if(key == "date" || key == "created") {%>
                                    <td><%= dateTimeFormat(value) %></td>
                                <% } else {%>
                                    <td><%= value %></td>
                                <% } %>
                            <% } %>
                        <% } %>
                    <% } %>
                    
                    <% if (caption !== "Our Upcoming Events" && caption !== "Our Articles") { %>
                        <% if (caption !== "Users") { %>
                        <td>
                            <a href="/edit?table=<%= caption.split(' ').join('_').toLowerCase() %>&id=<%= row.id %>" class="btn btn-warning " id="edit <%= caption.split(' ').join('_').toLowerCase() %> <%= row.id %>">Edit</a>
                        </td>
                        <% } %>
                        <td>
                            <form action="/delete?table=<%= caption.split(' ').join('_').toLowerCase() %>&id=<%= row.id %>" method="post">
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                        </td>
                    <% } else if(caption === "Our Upcoming Events"){ %>
                        <td>
                            <a href="<%= rows[index].link %>" target="_blank" class="btn btn-success" id="register <%= caption.split(' ').join('_').toLowerCase() %> <%= row.id %>">Register</a>
                        </td>
                    <% } else if(caption === "Our Articles") { %>
                        <td>
                            <a href="/article?id=<%= rows[index].id %>" target="_blank" class="btn btn-success" id="register <%= caption.split(' ').join('_').toLowerCase() %> <%= row.id %>">Read More</a>
                        </td>
                    <% } %>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>