<%- include('partials/header') %>
    <div class="article-page">
        <div class="container">
            <%- include('partials/nav') %>

            <h2 class="font-weight-bold"><%= article.title %></h2>

            <small class="mt-1">by <%= article.author %>, <%= article.created %></small>

            <div class="full-details mt-4">
                <%= article.full_details %>
            </div>

            <!-- <textarea class="nd ckeditor" disabled="disabled" name="full_details"><%= article.full_details %></textarea> -->
        </div>
    </div>

<%- include('partials/script') %>