<%- include('admin/function') %>
<%- include('partials/header', {user: "user"}) %>

    <div class="articles bg--blue">
        <div class="container">
            <%- include('partials/nav') %>
            <h3 class="header">Artikel Kami</h3>
            <div>
    
                <% articles.forEach((article, index) => { %>
                    <%- include('partials/article2', {article: article}) %>
                <% }) %>
            </div>
        </div>
    </div>

<%- include('partials/script') %>