<%- include('admin/function') %>
<%- include('partials/header', {user: "user"}) %>
    <div class="article3 bg--blue">
        <div class="container">
            <%- include('partials/nav') %>

            <div class="article3__imageContainer">
                <img class="article3__image" src="<%= article.image %>" alt="<%= article.title %>" />
                <div class="article3__titleContainer">
                    <h3 class="article3__title"><%= article.title %></h3>
                    <p>
                        Oleh: <%= article.author %>, <%= dateFormat(article.created) %>
                    </p>
                </div>
            </div>
            <div class="article3__fullDetailsContainer">
                <div class="article3__fullDetails"><%= article.full_details %></div>
            </div>

        </div>
    </div>

<%- include('partials/script') %>