<%- include('admin/function') %>
<%- include('partials/header', {user: "user"}) %>

    <div class="upcomingEvent">
        <div class="container">
            <%- include('partials/nav') %>
            <div class="upcomingEvent__imageContainer">
                <img class="upcomingEvent__image" src="<%= event.image %>" alt="<%= event.title %>" />
                <div class="upcomingEvent__titleContainer">
                    <h3 class="upcomingEvent__title"><%= event.title %></h3>
                    <p>
                            <%= dateTimeFormat(event.date) %>
                    </p>
                </div>
            </div>
            <div class="upcomingEvent__fullDetailsContainer">
                <div class="upcomingEvent__fullDetails"><%= event.full_details %></div>
                <a href="<%= event.link %>" target="_blank" class="button button--orange moreDetailsBtn">Daftar Sekarang!</a>
            </div>
        </div>
    </div>

<%- include('partials/script') %>