<%- include('admin/function') %>

<%- include('partials/header') %>

  <!-- Landing Page -->
  <header class="landingPage" id="landingPage">
    <div class="landingPage__filter">

      <% if(announcements) { %>
        <%- include('partials/announcement', {text: announcements.text, buttonText: announcements.button_text, link: announcements.link}) %>
      <% } %>

      <div class="container h-100 landingPage__container">
        <%- include('partials/nav') %>

        <div class="wow fadeInUp landingPage__headingContainer">
          <div class="landingPage__headingList">
            <h1>Bentuk Mindset Wirausaha</h1>
            <h5>Menginspirasi peserta kuliah untuk menemukan cara baru dalam mengatasi permasalahan sosial, khususnya melalui kewirausahaan sosial.</h5>
          </div>
        </div>

      </div>
    </div>
  </header>

  <!-- About us -->
  <section class="aboutUs container" id="aboutUs">
    <h3 class="aboutUs__heading">Kuliah Kewirausahaan Sosial</h3>
    <p>Kuliah Kewirausahaan Sosial didasari oleh kegelisahaan atas ketidaksinkronan dunia pendidikan dengan dunia luar. Belajar dari yang ahli, dosen menjadi fasilitator.</p>

    <div class="aboutUs__statistic">
      <div class="startup wow bounceInLeft">
        <img src="/assets/images/about_us/rocket2.webp" alt="rocket">
        <h4>8</h4>
        <h5>Startups</h5>
      </div>
      <div class="talent wow bounceInLeft" data-wow-delay=".1s">
        <img src="/assets/images/about_us/people.svg" alt="people">
        <h4>7000</h4>
        <h5>Participants</h5>
      </div>
      <div class="partner wow bounceInLeft" data-wow-delay=".2s">
        <img src="/assets/images/about_us/handyman.svg" alt="handyman">
        <h4>16</h4>
        <h5>Partners</h5>
      </div>
      <div class="event wow bounceInLeft" data-wow-delay=".3s">
        <img src="/assets/images/about_us/date.svg" alt="date">
        <h4>20</h4>
        <h5>Events</h5>
      </div>
    </div>
  </section>

  <!-- Upcoming Event -->
  <section class="upcomingEvents container" id="upcomingEvents">
    <h3>Event Kami Kedepannya</h3>

    <div class="upcomingEvents__container">
      
      <div class="upcomingEvents__list">
        <div>
          <a class="" data-slide="prev">
            <img class="upcomingEvents__leftControl" src="/assets/images/upcoming_event/left_arrow.svg" alt="prev">
          </a>
          <a class="">
            <img class="upcomingEvents__rightControl" src="/assets/images/upcoming_event/right_arrow.svg" alt="next">
          </a>
        </div>
        <% upcomingEvents.forEach((upcomingEvent, index) => { %>
          <% if(index === 0) { %>
            <div class="active-event upcomingEvents__event">
          <% } else if(index === 1) { %>
            <div class="next upcomingEvents__event">
          <% } else if(index === upcomingEvents.length - 1) { %>
            <div class="prev upcomingEvents__event">
          <% } else { %>
            <div class="hidden-event upcomingEvents__event">
          <% } %>  
            <img class="upcomingEvents__img" id="upcomingEvents__img" src="<%= upcomingEvent.image %>" alt="<%= upcomingEvent.title %>">
          </div>

        <% }) %>
      </div>

      <div>
          <% upcomingEvents.forEach((upcomingEvent, index) => { %>
            <% if(index === 0) { %>
              <div class="upcomingEvents__detailContainer">
            <% } else { %>
              <div class="hidden-event upcomingEvents__detailContainer">
            <% } %> 
                <h4 class="upcomingEvents__title"><%= upcomingEvent.title %></h4>
                <p class="upcomingEvents__date"><%= dateTimeFormat(upcomingEvent.date) %></p>
                <p class="upcomingEvents__detail"><%= upcomingEvent.details %></p>
                <a href="/event?id=<%= upcomingEvent.id %>" class="button button--orange moreDetailsBtn">Selengkapnya</a>
              </div>
          <% }) %>
      </div>
    </div>

  </section>

  <!-- Curiculum -->
  <section class="curriculum container" id="curriculum">
    <h3>Kurikulum</h3>
    <img class="curriculum__img" src="/assets/images/curriculum/Kurikulum.webp" alt="kurikulum ks">
  </section>

  <!-- Latest Event -->
  <section class="latestEvent container" id="latestEvent">
    <h3 class="latestEvent__header">Event Terbaru</h3>
    <p>Merupakan kegiatan perkuliahaan baik SKS ataupun non-SKS. Untuk melihat materi-materi perkuliahan lainnya bisa cek Youtube Channel Kewirausahaan Sosial UGM</p>
    <div class="latestEvent__list d-flex flex-column flex-lg-row justify-content-lg-between flex-wrap">
      <% latestEvents.forEach((latestEvent) => { %>
        <iframe width="560" height="315" src="<%= latestEvent.link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% }) %>
    </div>
  </section>

  <!-- Our Mentor -->
  <section class="ourMentor container" id="ourMentor">
    <h3>Dosen Tamu - Praktisi</h3>
    <div class="owl-carousel owl-carousel-1 owl-theme owl-centered">
      <% mentors.forEach((mentor) => { %>
        <%- include('partials/card', {person: mentor}) %>
      <% }) %>
    </div>
  </section>

  <!-- Our Team -->
  <section class="our-team container" id="our-team">
    <h3>Team Kita</h3>
    <div class="owl-carousel owl-carousel-2 owl-theme">
      <% teamMembers.forEach((member) => { %>
        <%- include('partials/card', {person: member}) %>
      <% }) %>
    </div>
  </section>

  <!-- Article -->
  <section class="articles container" id="articles">
    <h3>Artikel</h3>

    <div class="articles__container">

      <% articles.forEach((article) => { %>
        <%- include('partials/article', {article: article}) %>
      <% }) %>
      
    </div>
  </section>

  <!-- Testimonial -->
  <section class="testimonials container" id="testimonials">
    <h3>Testimonial</h3>
    <div class="owl-carousel owl-carousel-3 owl-theme">
      <% testimonials.forEach((testimonial) => { %>
        <%- include('partials/testimonial', {testimonial: testimonial}) %>
      <% }) %>

    </div>
  </section>

  <!-- Meet The Founder -->
  <section class="meet-the-founder container" id="meet-the-founder" class="coverImage">
    <h3>Meet the Founder</h3>
    
      <div class="owl-carousel owl-carousel-5 owl-theme">
        <% leaderReviews.forEach(review => { %>
          <%- include('partials/review', {review: review}) %>
        <% }) %>
      </div>
  </section>

  <!-- Collaborate -->
    <section class="collaborate container" id="collaborate">
      <h3>Let's Collaborate</h3>

      <div class="collaborate__container">
        <div class="collaborate__media">
            <h4>Hubungi Kami</h4>
            <div>
                <a class="collaborate__link" rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/kewirausahaansosialugm/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a class="collaborate__link" rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/kewirausahaansosialugm"><i class="fa fa-facebook-f"></i></a>
                <a class="collaborate__link" rel="noopener noreferrer" target="_blank" href="https://twitter.com/SosialUgm"><i class="fa fa-twitter"></i></a>
            </div>
            <h5>atau :</h5>
            <p>Rina +62 878-3838-6519 (WA Only)</p>

            <small>Icons by Flaticon and Font Awesome</small>
            <small class="collaborate__madeWith">Made with ❤ From Yogyakarta for Indonesia © Kewirausahaan Sosial 2020</small>
        </div>

        <form action="/collab" method="post" class="collaborate__form">
            <%- include('partials/input', {name: 'name', type: 'text', required: true}) %>

            <%- include('partials/input', {name: 'email', type: 'email', required: true}) %>
            <div class="inputContainer">
              <label for="message">Message:</label>
              <textarea name="message" class="message inputContainer__input" id="message"></textarea>
            </div>

            <%- include('partials/button', {type: 'submit', for: 'submitBtn', color: 'orange', text: 'Submit'}) %>
        </form>
    </div>
    </section>


<%- include('partials/script') %>