<%- include('partials/header') %>

<div class="login bg--blue">
    <div class="login__container">
        <h3 class="login__header">Login</h3>
        <% if(messages.error) {%>
            <%= messages.error %>
        <% } %>
        <form action="/login" method="POST">
            <%- include('partials/input', {name: 'email', type: 'email', required: true}) %>
            <%- include('partials/input', {name: 'password', type: 'password', required: true}) %>
            <button type="submit" class="login__button button button--orange submitBtn">Submit</button>
            <a href="/forgot" class="login__forgot">Forgot Password ?</a>
        </form>
    </div>
</div>

<%- include('partials/script') %>